.pullquote {
  position: relative;
  padding: 40px 0;
  margin: 40px auto;
  max-width: 540px;
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  transition: 1s;

  &.visible {
   opacity: 1;
   transform: translate3d(0, 0, 0);
  }

  h3 {
    font-family: 'RN House Sans', arial, sans-serif;
    font-weight: normal;
    font-size: 27.8px;
    line-height: 30px;
    color: #6F2C91;
    text-align: left;
    margin: 0;

    &::selection {
      background: #42145F;
      color: white;
    }

  }

  p {
    margin-top: 25px;
  }
}

.pullquote.pullquote--withquote {
  padding: 70px 0 50px;
}

  .pullquote--special {
    padding: 100px 0 50px;

    h3 {
      font-size: 48px;
      line-height: 48px;
      text-align: center;
      margin: 0 0 35px;
    }

    p {
      text-align: center;
    }
  }

  @media (max-width: 730px) {
    .pullquote {
      
      h3 {
        font-size: 19px;
        line-height: 24px;
      }

      &.pullquote--special {
        h3 {
          font-size: 28px;
          line-height: 28px;
        }
      }
    }
  }